<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ajouter Produit</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="container p-5 mt-5">
    <h2>Ajouter Produit</h2>
    <a class="btn btn-outline-dark mx-2" th:href="@{/listeDesProduits}"><= Retour</a>

    <form th:action="@{/ajouterProduit}" method="post">

        <div class="form-group">
            <label for="label">Nom du Produit:</label>
            <input type="text" class="form-control" id="label" name="label" required>
        </div>
        <div class="form-group">
            <label for="prix_unitaire">Prix unitaire:</label>
            <input type="number" class="form-control" id="prix_unitaire" name="prix_unitaire" required>
        </div>
        <div class="form-group">
            <label for="quantite_in_stock">Quantité en stock:</label>
            <input type="number" class="form-control" id="quantite_in_stock" name="quantite_in_stock" required>
        </div>

        <button type="submit" class="btn btn-primary">Ajouter Produit</button>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
